In [21]:
import psycopg2
import pandas as pd

In [22]:
connection = psycopg2.connect(
    host="localhost",
    dbname="rme",
    user="postgres",
    password="omar_321"
)
cursor= connection.cursor()

In [23]:
cursor.execute("""
    SELECT project_no, SUM(amount) AS total_cost
    FROM cost_dist
    WHERE project_no IN ('122', '130', '143', '152', '157', '167', '168', '169')
    GROUP BY project_no;
""")
records = cursor.fetchall()

df = pd.DataFrame(records, columns=["project_no", "total_cost"])

In [24]:
df = df.assign(total_cost=df.total_cost.astype(int).apply('{:,}'.format))
print(df)

  project_no   total_cost
0        122  666,916,414
1        130  117,405,340
2        143  185,758,338
3        152  383,959,216
4        157  150,652,193
5        167  139,646,091
6        168  102,052,248
7        169   33,926,061

In [25]:
#if decimal is needed
#df['total_cost'] = pd.to_numeric(df['total_cost'].fillna(0), errors='coerce')    
#df['total_cost'] = df['total_cost'].map('{:,.2f}'.format)
#print(df)

In [26]:
cursor.close()
connection.close()